* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
    transition: ease-in-out .2s;
    color: black;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f3f3f3;
}

#game {
    width: 480px;
    height: 590px;
    background-color: beige;
    display: flex;
    flex-direction: column;
    border: solid #ffffff 10px;
    border-radius: 8px;
}

.utilities {
    background-color: #c8c8c8;
    border: solid #c6c6c6 15px;
    height: 20%;
}

.utilities-inner {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: solid #808080 10px;
    border-right: solid #ffffff 10px;
    border-bottom: solid #ffffff 10px;
}

#bomb-count {
    width: 97px;
    height: 60px;
    background-color: rgb(0, 0, 0);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 2px;
}

.bomb-count-digits {
    border: solid black 1px;
}

#restart {
    width: 55px;
    height: 55px;
    background-image: url("../images/Smile.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#restart:hover {
    border-top: solid #6a6a6a 7px;
    border-left: solid #7a7a7a 7px;

}

.board-outter {
    height: 80%;
    border: solid #c6c6c6 15px;
}

#board {
    /* background-color: rgb(67, 106, 141); */
    height: 100%;
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(8, 1fr);
    border: solid #808080 10px;
    border-right: solid #ffffff 10px;
    border-bottom: solid #ffffff 10px;
}

#board > div {
    border: solid #8c8c8c  2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Hidden {
    background-image: url("../images/HiddenTile.png") !important;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.Marked {
    background-image: url("../images/MinesweeperMarked.jpg") !important;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.FalseMarked {
    background-image: url("../images/MinesweeperMarked.jpg") !important;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.FalseMarked::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0.178);
    border-radius: inherit;
}

.Bomb {
    background-image: url("../images/Bomb.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: solid #8c8c8c 2px;
    background-color: #dbdbdb;
}

.TrippedBomb {
    background-image: url("../images/Bomb.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: solid #8c8c8c 2px;
    background-color: #dbdbdb;
}

.TrippedBomb::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0.36);
    border-radius: inherit;
}

.NumberOne {
    background: url("../images/NumberOne.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.NumberTwo {
    background: url("../images/NumberTwo.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.NumberThree {
    background: url("../images/NumberThree.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.NumberFour {
    background: url("../images/NumberFour.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.tile-clicked {
    background-color: #dbdbdb !important;
}

.DigitalMinus {
    background-image: url("https://minesweeper.online/img/skins/hd/d-.svg?v=14");
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.DigitalZero {
    background-image: url("https://minesweeper.online/img/skins/hd/d0.svg?v=14");
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.DigitalOne {
    background-image: url("https://minesweeper.online/img/skins/hd/d1.svg?v=14");
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.DigitalTwo {
    background-image: url("https://minesweeper.online/img/skins/hd/d2.svg?v=14");
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.DigitalThree {
    background-image: url("https://minesweeper.online/img/skins/hd/d3.svg?v=14");
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.DigitalFour {
    background-image: url("https://minesweeper.online/img/skins/hd/d4.svg?v=14");
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.DigitalFive {
    background-image: url("https://minesweeper.online/img/skins/hd/d5.svg?v=14");
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.DigitalSix {
    background-image: url("https://minesweeper.online/img/skins/hd/d6.svg?v=14");
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.DigitalSeven {
    background-image: url("https://minesweeper.online/img/skins/hd/d7.svg?v=14");
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.DigitalEight {
    background-image: url("https://minesweeper.online/img/skins/hd/d8.svg?v=14");
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.DigitalNine {
    background-image: url("https://minesweeper.online/img/skins/hd/d9.svg?v=14");
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}